:root {
  /* Light mode colors */
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #e0e0e0;
  --button-hover: #d6d6d6;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  /* Dark mode colors */
  --background-color: #121212;
  --text-color: #ffffff;
  --button-background: #333333;
  --button-hover: #444444;
  --shadow-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
